* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    width: 100%;
    padding: 10px;
    @media screen and (min-width: 601px){
        width: 50%;
    }
    @media screen and (min-width: 801px){
        width: (100% / 3);
    }
    @media screen and (min-width: 1025px){
        width: 25%;
    }
}