@import "@/assets/scss/functions/Functions.scss";

.product {
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    &__image {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    &__content {
        background: rgba(#282828, 0.8);
        text-align: left;
        padding: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__title {
        margin: 0 auto;
        font-size: toRem(16);
        font-weight: 600;
        line-height: toRem(19);
        color: #FFFFFF;
    }

    &__price {
        margin: toRem(8) auto;
        font-size: toRem(16);
        font-weight: 600;
        line-height: toRem(19);
        color: #FFFFFF;
    }

    &__discount {
        margin-left: 8px;
    }

    &__strikethrough {
        text-decoration: line-through;
    }

    &__description {
        margin: 0 auto;
        font-size: toRem(12);
        font-weight: 500;
        line-height: toRem(14);
        color: #BDBDBD;
    }
}