<template>
  <div class="product-list">
    <label for="selector">
      Filter:
      <select v-model="select" id="selector">
        <option
          v-for="filter in filters"
          :value="filter.value"
          :key="filter.value"
        >
          {{ filter.name }}
        </option>
      </select>
    </label>
    <h1>SELECTED FILTER: {{ selectedFilter }}</h1>
    <div class="container">
      <div class="row">
        <div class="col" v-for="(product, idx) in products" :key="idx">
          <Product :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const productItems = require("@/assets/products.json");
import Product from "@/components/Product";

export default {
  name: "ProductList",
  components: {
    Product
  },
  computed: {
    products() {
      productItems.sort((a, b) => a.order - b.order);
      return this.filterProductsBy(productItems, this.select);
    },
    selectedFilter() {
      const selectedFilter = this.filters.find(f => f.value === this.select);
      const { name } = selectedFilter;
      if (!name) return null;
      return name;
    }
  },
  data() {
    return {
      select: "all",
      filters: [
        { name: "All", value: "all" },
        { name: "Purchased", value: "purchased" },
        { name: "Unpurchased", value: "unpurchased" },
        { name: "One Time Purchases", value: "onetime" },
        { name: "Subscriptions", value: "recurring" }
      ]
    };
  },
  methods: {
    filterProductsBy: (productItems, filter) => {
      switch (filter) {
        case "purchased":
          return productItems.filter(f => f.purchased);
        case "unpurchased":
          return productItems.filter(f => !f.purchased);
        case "onetime":
        case "recurring":
          return productItems.filter(f => f.type === filter);
        default:
          return productItems;
      }
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/components/ProductList.scss";
</style>
