<template>
  <div class="product">
    <img class="product__image" :src="product.image" :alt="product.title" />
    <div class="product__content">
      <h2 class="product__title">{{ product.title }}</h2>
      <p class="product__price" v-if="fullPrice">
        <span :class="{ product__strikethrough: discountPrice }">
          {{ fullPrice | toCurrency }}
        </span>
        <span v-if="discountPrice" class="product__discount">
          {{ discountPrice | toCurrency }}
        </span>
      </p>
      <p class="product__description">{{ product.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: {
    product: Object
  },
  computed: {
    fullPrice() {
      const { price } = this.product;
      return price;
    },
    discountPrice() {
      const { price, discount = null } = this.product;
      if (!discount) return null;
      const discountValue = Number(discount.replace("%", ""));
      const discountAmount = price - (discountValue / 100) * price;
      return discountAmount !== 0 ? discountAmount : "FREE";
    }
  },
  filters: {
    toCurrency: value => {
      if (typeof value !== "number") return value;
      const formatter = new Intl.NumberFormat("en-GB", {
        style: "currency",
        currency: "GBP",
        minimumFractionDigits: 2
      });
      return formatter.format(value / 100);
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/components/Product.scss";
</style>
